p{
    color: black;
font-size: larger;
font-weight: 900;
}
.img{
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: multiply;
    height: 100%;
    width: 100%;
   font-family: 'Numans', sans-serif; 
   padding-bottom: 180px;

}

